# Dependencias
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
*.log

# Archivos de debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configuración del editor/IDE
.vscode/
.idea/
*.sw?

# Sistemas de OS
.DS_Store
Thumbs.db

# Env vars
.env
.env.*
!.env.example
